*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@200&family=Zilla+Slab+Highlight:wght@400;700&display=swap');
/*
font-family: 'Fredoka One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Zilla Slab Highlight', cursive;
*/

body{
    background-color: #1a1a1a;
    background-image: url(./bg.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: .6em;
    letter-spacing: 1.5px;
}
h1{
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 6em;
    letter-spacing: 3px;
}
h2{
    font-size: 5em;
}
h2 a{
    text-decoration: none;
    color: white;
}
h3{
    font-size: 2em;
}
.container {
    margin: 0 10em;
    margin-top: 2em;
    padding: 1em;
    box-shadow: 0 0 1rem 0 rgba(37, 37, 37, 0.2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}
.container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.4);
    filter: blur(100px);
    margin: -20px;
}
.members{
    font-size: 2.5em;
    padding: .3em;
    font-family: 'Zilla Slab Highlight', cursive;
}
.container a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

.welcome{
    border: 1px solid white;
    padding: 7em;
    margin: 10em 17em;
}
@media screen and (max-width: 800px){
    body{
        background-position-x: center;
    }
    h1{
        font-size: 5em;
        padding: .5em 0;
    }
    .welcome{
        padding: 1em;
        margin: 3em 2em;
    }
    .container{
        padding: 2em ;
        margin: 2em 0;
    }
}